<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_CYMroPFwEeSrg-vwXewQTg" specification="interface:&#xA;&#xA;var saldo: integer&#xA;&#xA;var   c5: integer  //  5 cent pieces&#xA;var c10: integer  // 10 cent pieces&#xA;var c20: integer  // 20 cent pieces&#xA;var c50: integer  // 50 cent pieces&#xA;var   e1: integer  //   1 euro pieces&#xA;&#xA;out event return5c&#xA;out event return10c&#xA;out event return20c&#xA;out event return50c&#xA;out event return1e&#xA;&#xA;operation display(a:string)&#xA;&#xA;&#xA;" name="returningCoins">
    <regions xmi:id="_CYOg0vFwEeSrg-vwXewQTg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_CYTZUfFwEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_CYWco_FwEeSrg-vwXewQTg" target="_xs7ywPFwEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_CYUncPFwEeSrg-vwXewQTg" specification="entry/display(&quot;returning coins&quot;)" name="ReturningCoins" incomingTransitions="_-Tg4wPFwEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_btPy4PFxEeSrg-vwXewQTg" specification="always&#xA;" target="_d23x0PFxEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VwmqwPFwEeSrg-vwXewQTg" specification="entry/display(&quot;saldo not a multiple of 5!&quot;)" name="IncorrectSaldo" incomingTransitions="_cAFr0PFwEeSrg-vwXewQTg"/>
      <vertices xsi:type="sgraph:State" xmi:id="_xs7ywPFwEeSrg-vwXewQTg" specification="entry / display(&quot;thank you&quot;)" name="Waiting" incomingTransitions="_2vpesPFwEeSrg-vwXewQTg _CYWco_FwEeSrg-vwXewQTg _8SUVsPFzEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_-Tg4wPFwEeSrg-vwXewQTg" specification="[saldo>0]" target="_CYUncPFwEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_X1Sp4PFxEeSrg-vwXewQTg" specification="entry / raise return1e;&#xA;            e1-=1&#xA;exit / saldo -=100" name="Returning100" incomingTransitions="_8ULo0PFxEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_wXQHUPFyEeSrg-vwXewQTg" specification="always" target="_YbJwAPFxEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_YbJwAPFxEeSrg-vwXewQTg" incomingTransitions="_wnh0cPFxEeSrg-vwXewQTg _wXQHUPFyEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_8ULo0PFxEeSrg-vwXewQTg" specification="[saldo/100>0 &amp;&amp; e1>0]" target="_X1Sp4PFxEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_an8iQPFyEeSrg-vwXewQTg" specification="else" target="__eB5MPFyEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_d23x0PFxEeSrg-vwXewQTg" incomingTransitions="_btPy4PFxEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_2vpesPFwEeSrg-vwXewQTg" specification="[saldo ==0]" target="_xs7ywPFwEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_cAFr0PFwEeSrg-vwXewQTg" specification="[saldo%5>0]" target="_VwmqwPFwEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_wnh0cPFxEeSrg-vwXewQTg" specification="else&#xA;" target="_YbJwAPFxEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5iiyMPFyEeSrg-vwXewQTg" specification="entry / raise return50c;&#xA;            c50-=1&#xA;exit / saldo -=50" name="Returning50" incomingTransitions="_BaXqEPFzEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_FNRT8PFzEeSrg-vwXewQTg" specification="always" target="__eB5MPFyEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="__eB5MPFyEeSrg-vwXewQTg" incomingTransitions="_an8iQPFyEeSrg-vwXewQTg _FNRT8PFzEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_BaXqEPFzEeSrg-vwXewQTg" specification="[saldo/50>0 &amp;&amp; c50>0]" target="_5iiyMPFyEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_VAWLIPFzEeSrg-vwXewQTg" specification="else" target="_UD1fkPFzEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Mts_gPFzEeSrg-vwXewQTg" specification="entry / raise return20c;&#xA;            c20 -=1&#xA; exit / saldo -=20" name="Returning20" incomingTransitions="_WqBesPFzEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_gY9CIPFzEeSrg-vwXewQTg" specification="always" target="_UD1fkPFzEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_UD1fkPFzEeSrg-vwXewQTg" incomingTransitions="_VAWLIPFzEeSrg-vwXewQTg _gY9CIPFzEeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_WqBesPFzEeSrg-vwXewQTg" specification="[saldo/20>0 &amp;&amp; c20>0]" target="_Mts_gPFzEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_5f4qUPFzEeSrg-vwXewQTg" specification="else" target="_23_bAPFzEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jMh9APFzEeSrg-vwXewQTg" specification="entry / raise return10c;&#xA;            c10 -=1&#xA; exit / saldo -=10" name="Returning10" incomingTransitions="_TCqhAPF0EeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_WCWlQPF0EeSrg-vwXewQTg" specification="always" target="_23_bAPFzEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_vnHOYPFzEeSrg-vwXewQTg" specification="entry / raise return5c;&#xA;            c5 -=1&#xA; exit / saldo -=5" name="Returning5" incomingTransitions="_X_rNkPF0EeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_Z7DVIPF0EeSrg-vwXewQTg" specification="always" target="_4RkdEPFzEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_23_bAPFzEeSrg-vwXewQTg" incomingTransitions="_5f4qUPFzEeSrg-vwXewQTg _WCWlQPF0EeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_6XXE4PFzEeSrg-vwXewQTg" specification="else" target="_4RkdEPFzEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_TCqhAPF0EeSrg-vwXewQTg" specification="[saldo/10>0 &amp;&amp; c10>0]" target="_jMh9APFzEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_4RkdEPFzEeSrg-vwXewQTg" incomingTransitions="_6XXE4PFzEeSrg-vwXewQTg _Z7DVIPF0EeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_X_rNkPF0EeSrg-vwXewQTg" specification="[saldo/5>0 &amp;&amp; c5>0]" target="_vnHOYPFzEeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_xyo_4PF1EeSrg-vwXewQTg" specification="else" target="_vzfyoPF1EeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_sKXv0PF1EeSrg-vwXewQTg" specification="entry / display(&quot;insufficient coins!&quot;)" name="InsufficientCoins" incomingTransitions="_5FcfIPF1EeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="__7710PF1EeSrg-vwXewQTg" specification="always" target="_-goVcPF1EeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_vzfyoPF1EeSrg-vwXewQTg" incomingTransitions="_xyo_4PF1EeSrg-vwXewQTg">
        <outgoingTransitions xmi:id="_5FcfIPF1EeSrg-vwXewQTg" specification="[saldo>0]" target="_sKXv0PF1EeSrg-vwXewQTg"/>
        <outgoingTransitions xmi:id="_8SUVsPFzEeSrg-vwXewQTg" specification="else" target="_xs7ywPFwEeSrg-vwXewQTg"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_-goVcPF1EeSrg-vwXewQTg" incomingTransitions="__7710PF1EeSrg-vwXewQTg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_CYOg0PFwEeSrg-vwXewQTg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_CYMroPFwEeSrg-vwXewQTg" measurementUnit="Pixel">
    <children xmi:id="_CYQWAPFwEeSrg-vwXewQTg" type="Region" element="_CYOg0vFwEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_CYSyQPFwEeSrg-vwXewQTg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CYSyQfFwEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CYSyQvFwEeSrg-vwXewQTg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_CYSyQ_FwEeSrg-vwXewQTg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_CYTZUvFwEeSrg-vwXewQTg" type="Entry" element="_CYTZUfFwEeSrg-vwXewQTg">
          <children xmi:id="_CYUAYPFwEeSrg-vwXewQTg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_CYUAY_FwEeSrg-vwXewQTg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_CYUAZPFwEeSrg-vwXewQTg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_CYUAZfFwEeSrg-vwXewQTg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_CYUAYfFwEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYUAYvFwEeSrg-vwXewQTg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_CYTZU_FwEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYUAZvFwEeSrg-vwXewQTg" x="-10" y="36"/>
        </children>
        <children xmi:id="_CYVOgPFwEeSrg-vwXewQTg" type="State" element="_CYUncPFwEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_CYVOhPFwEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_CYVOhfFwEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_CYVOhvFwEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_CYV1kPFwEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_CYV1kfFwEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYV1kvFwEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_CYWcoPFwEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_CYVOgfFwEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_CYVOgvFwEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CYWcofFwEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYWcovFwEeSrg-vwXewQTg" x="266" y="3"/>
        </children>
        <children xmi:id="_Vwn44PFwEeSrg-vwXewQTg" type="State" element="_VwmqwPFwEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_Vwn45PFwEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Vwn45fFwEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Vwn45vFwEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Vwof8PFwEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Vwof8fFwEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Vwof8vFwEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Vwof8_FwEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Vwn44fFwEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Vwn44vFwEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Vwof9PFwEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Vwn44_FwEeSrg-vwXewQTg" x="34" y="84"/>
        </children>
        <children xmi:id="_xs9n8PFwEeSrg-vwXewQTg" type="State" element="_xs7ywPFwEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_xs-PAPFwEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xs-PAfFwEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xs-PAvFwEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xs-2EPFwEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xs-2EfFwEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xs-2EvFwEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xs-2E_FwEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xs9n8fFwEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xs9n8vFwEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xs-2FPFwEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xs9n8_FwEeSrg-vwXewQTg" x="37" y="14"/>
        </children>
        <children xmi:id="_X1UfEPFxEeSrg-vwXewQTg" type="State" element="_X1Sp4PFxEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_X1UfFPFxEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_X1UfFfFxEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_X1UfFvFxEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_X1UfF_FxEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_X1VGIPFxEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X1VGIfFxEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_X1VGIvFxEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_X1UfEfFxEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_X1UfEvFxEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_X1VGI_FxEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X1UfE_FxEeSrg-vwXewQTg" x="34" y="146"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_YbKXEPFxEeSrg-vwXewQTg" type="Choice" element="_YbJwAPFxEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YbKXEfFxEeSrg-vwXewQTg" x="325" y="155"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_d24Y4PFxEeSrg-vwXewQTg" type="Choice" element="_d23x0PFxEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d24Y4fFxEeSrg-vwXewQTg" x="325" y="92"/>
        </children>
        <children xmi:id="_5iknYPFyEeSrg-vwXewQTg" type="State" element="_5iiyMPFyEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5iknZPFyEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iknZfFyEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5iknZvFyEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iknZ_FyEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5iknaPFyEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iknafFyEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5ilOcPFyEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iknYfFyEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5iknYvFyEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5ilOcfFyEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iknY_FyEeSrg-vwXewQTg" x="34" y="218"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="__eCgQPFyEeSrg-vwXewQTg" type="Choice" element="__eB5MPFyEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__eCgQfFyEeSrg-vwXewQTg" x="325" y="240"/>
        </children>
        <children xmi:id="_MtuNoPFzEeSrg-vwXewQTg" type="State" element="_Mts_gPFzEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_MtuNpPFzEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MtuNpfFzEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MtuNpvFzEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MtuNp_FzEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MtuNqPFzEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MtuNqfFzEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MtuNqvFzEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MtuNofFzEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MtuNovFzEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MtuNq_FzEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MtuNo_FzEeSrg-vwXewQTg" x="34" y="291"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_UD2GoPFzEeSrg-vwXewQTg" type="Choice" element="_UD1fkPFzEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UD2GofFzEeSrg-vwXewQTg" x="325" y="313"/>
        </children>
        <children xmi:id="_jMikEPFzEeSrg-vwXewQTg" type="State" element="_jMh9APFzEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_jMikFPFzEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jMikFfFzEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jMikFvFzEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jMjLIPFzEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jMjLIfFzEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jMjLIvFzEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jMjLI_FzEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jMikEfFzEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jMikEvFzEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jMjLJPFzEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jMikE_FzEeSrg-vwXewQTg" x="34" y="363"/>
        </children>
        <children xmi:id="_vnIcgPFzEeSrg-vwXewQTg" type="State" element="_vnHOYPFzEeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_vnIchPFzEeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vnIchfFzEeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_vnIchvFzEeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vnIch_FzEeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_vnJDkPFzEeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vnJDkfFzEeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vnJDkvFzEeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vnIcgfFzEeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_vnIcgvFzEeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vnJDk_FzEeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vnIcg_FzEeSrg-vwXewQTg" x="39" y="437"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_24ACEPFzEeSrg-vwXewQTg" type="Choice" element="_23_bAPFzEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_24ACEfFzEeSrg-vwXewQTg" x="325" y="381"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_4RlEIPFzEeSrg-vwXewQTg" type="Choice" element="_4RkdEPFzEeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4RlEIfFzEeSrg-vwXewQTg" x="325" y="459"/>
        </children>
        <children xmi:id="_sKaMEPF1EeSrg-vwXewQTg" type="State" element="_sKXv0PF1EeSrg-vwXewQTg">
          <children xsi:type="notation:DecorationNode" xmi:id="_sKaMFPF1EeSrg-vwXewQTg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sKaMFfF1EeSrg-vwXewQTg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_sKaMFvF1EeSrg-vwXewQTg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sKaMF_F1EeSrg-vwXewQTg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_sKaMGPF1EeSrg-vwXewQTg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sKaMGfF1EeSrg-vwXewQTg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sKazIPF1EeSrg-vwXewQTg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sKaMEfF1EeSrg-vwXewQTg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_sKaMEvF1EeSrg-vwXewQTg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sKazIfF1EeSrg-vwXewQTg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sKaME_F1EeSrg-vwXewQTg" x="60" y="538"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_vzgZsPF1EeSrg-vwXewQTg" type="Choice" element="_vzfyoPF1EeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vzgZsfF1EeSrg-vwXewQTg" x="325" y="529"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_-go8gPF1EeSrg-vwXewQTg" type="FinalState" element="_-goVcPF1EeSrg-vwXewQTg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-go8gfF1EeSrg-vwXewQTg" x="4" y="550"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYSyRPFwEeSrg-vwXewQTg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_CYQWAfFwEeSrg-vwXewQTg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYTZUPFwEeSrg-vwXewQTg" x="216" y="10" width="560" height="633"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_CYY44PFwEeSrg-vwXewQTg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_CYY44vFwEeSrg-vwXewQTg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CYY44_FwEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CYY45PFwEeSrg-vwXewQTg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_CYY45fFwEeSrg-vwXewQTg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYY45vFwEeSrg-vwXewQTg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYZf8PFwEeSrg-vwXewQTg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_CYOg0fFwEeSrg-vwXewQTg"/>
    <edges xmi:id="_CYXqwPFwEeSrg-vwXewQTg" type="Transition" element="_CYWco_FwEeSrg-vwXewQTg" source="_CYTZUvFwEeSrg-vwXewQTg" target="_xs9n8PFwEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_CYYR0fFwEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CYYR0vFwEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CYYR0_FwEeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CYXqwfFwEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CYYR0PFwEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CYXqwvFwEeSrg-vwXewQTg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H-skoPFxEeSrg-vwXewQTg" id="(0.4967741935483871,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_cAG58PFwEeSrg-vwXewQTg" type="Transition" element="_cAFr0PFwEeSrg-vwXewQTg" source="_d24Y4PFxEeSrg-vwXewQTg" target="_Vwn44PFwEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_cAG59PFwEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cAG59fFwEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cAG59vFwEeSrg-vwXewQTg" x="1" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cAG58fFwEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cAG58_FwEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cAG58vFwEeSrg-vwXewQTg" points="[-50, -24, 196, 97]$[-209, -102, 37, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qtCL8PFxEeSrg-vwXewQTg" id="(0.0,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_2vqs0PFwEeSrg-vwXewQTg" type="Transition" element="_2vpesPFwEeSrg-vwXewQTg" source="_d24Y4PFxEeSrg-vwXewQTg" target="_xs9n8PFwEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_2vqs1PFwEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2vqs1fFwEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2vqs1vFwEeSrg-vwXewQTg" x="3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2vqs0fFwEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2vqs0_FwEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2vqs0vFwEeSrg-vwXewQTg" points="[-2, -1, 189, 60]$[-116, -37, 75, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_e9teEPFxEeSrg-vwXewQTg" id="(0.13333333333333333,0.3333333333333333)"/>
    </edges>
    <edges xmi:id="_-Thf0PFwEeSrg-vwXewQTg" type="Transition" element="_-Tg4wPFwEeSrg-vwXewQTg" source="_xs9n8PFwEeSrg-vwXewQTg" target="_CYVOgPFwEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-TiG4PFwEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-TiG4fFwEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-TiG4vFwEeSrg-vwXewQTg" x="-5" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-Thf0fFwEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-Thf0_FwEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-Thf0vFwEeSrg-vwXewQTg" points="[19, 5, -70, 0]$[80, 5, -9, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-TjVAPFwEeSrg-vwXewQTg" id="(0.8774193548387097,0.09433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-TjVAfFwEeSrg-vwXewQTg" id="(0.057803468208092484,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_btRoEPFxEeSrg-vwXewQTg" type="Transition" element="_btPy4PFxEeSrg-vwXewQTg" source="_CYVOgPFwEeSrg-vwXewQTg" target="_d24Y4PFxEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_btRoFPFxEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_btRoFfFxEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_btRoFvFxEeSrg-vwXewQTg" x="1" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_btRoEfFxEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_btRoE_FxEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_btRoEvFxEeSrg-vwXewQTg" points="[2, 9, 0, -29]$[1, 36, -1, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_btTdQPFxEeSrg-vwXewQTg" id="(0.4046242774566474,0.8301886792452831)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_btTdQfFxEeSrg-vwXewQTg" id="(0.4666666666666667,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_wnjCkPFxEeSrg-vwXewQTg" type="Transition" element="_wnh0cPFxEeSrg-vwXewQTg" source="_d24Y4PFxEeSrg-vwXewQTg" target="_YbKXEPFxEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wnjClPFxEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wnjClfFxEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wnjClvFxEeSrg-vwXewQTg" x="4" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wnjCkfFxEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wnjCk_FxEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wnjCkvFxEeSrg-vwXewQTg" points="[1, 8, 0, -49]$[1, 56, 0, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wnk3wPFxEeSrg-vwXewQTg" id="(0.5333333333333333,0.06666666666666667)"/>
    </edges>
    <edges xmi:id="_8UM28PFxEeSrg-vwXewQTg" type="Transition" element="_8ULo0PFxEeSrg-vwXewQTg" source="_YbKXEPFxEeSrg-vwXewQTg" target="_X1UfEPFxEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8UM29PFxEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8UM29fFxEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8UM29vFxEeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8UM28fFxEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8UM28_FxEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8UM28vFxEeSrg-vwXewQTg" points="[-7, 3, 110, -33]$[-113, 17, 4, -19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8UNeAPFxEeSrg-vwXewQTg" id="(0.7619047619047619,0.41509433962264153)"/>
    </edges>
    <edges xmi:id="_an9JUPFyEeSrg-vwXewQTg" type="Transition" element="_an8iQPFyEeSrg-vwXewQTg" source="_YbKXEPFxEeSrg-vwXewQTg" target="__eCgQPFyEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_an9JVPFyEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_an9JVfFyEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_an9JVvFyEeSrg-vwXewQTg" x="2" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_an9JUfFyEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_an9JU_FyEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_an9JUvFyEeSrg-vwXewQTg" points="[3, 8, -3, -46]$[1, 49, -5, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AT5KMPFzEeSrg-vwXewQTg" id="(0.4666666666666667,0.2)"/>
    </edges>
    <edges xmi:id="_wXSjkPFyEeSrg-vwXewQTg" type="Transition" element="_wXQHUPFyEeSrg-vwXewQTg" source="_X1UfEPFxEeSrg-vwXewQTg" target="_YbKXEPFxEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wXSjlPFyEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wXSjlfFyEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wXSjlvFyEeSrg-vwXewQTg" x="-43" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wXSjkfFyEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wXSjk_FyEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wXSjkvFyEeSrg-vwXewQTg" points="[15, 0, -172, 27]$[81, 0, -106, 27]$[180, -25, -7, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wXUYwPFyEeSrg-vwXewQTg" id="(0.8854961832061069,0.7230769230769231)"/>
    </edges>
    <edges xmi:id="_BaYRIPFzEeSrg-vwXewQTg" type="Transition" element="_BaXqEPFzEeSrg-vwXewQTg" source="__eCgQPFyEeSrg-vwXewQTg" target="_5iknYPFyEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BaY4MPFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BaY4MfFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BaY4MvFzEeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BaYRIfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BaYRI_FzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BaYRIvFzEeSrg-vwXewQTg" points="[-1, 1, 170, 3]$[-166, 30, 5, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BaaGUPFzEeSrg-vwXewQTg" id="(0.06666666666666667,0.5333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BaaGUfFzEeSrg-vwXewQTg" id="(0.9545454545454546,0.47692307692307695)"/>
    </edges>
    <edges xmi:id="_FNR7APFzEeSrg-vwXewQTg" type="Transition" element="_FNRT8PFzEeSrg-vwXewQTg" source="_5iknYPFyEeSrg-vwXewQTg" target="__eCgQPFyEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_FNR7BPFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FNR7BfFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FNR7BvFzEeSrg-vwXewQTg" x="-45" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FNR7AfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FNR7A_FzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FNR7AvFzEeSrg-vwXewQTg" points="[12, 10, -171, 25]$[77, 10, -106, 25]$[176, -13, -7, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FNTJIPFzEeSrg-vwXewQTg" id="(0.9090909090909091,0.7384615384615385)"/>
    </edges>
    <edges xmi:id="_VAWyMPFzEeSrg-vwXewQTg" type="Transition" element="_VAWLIPFzEeSrg-vwXewQTg" source="__eCgQPFyEeSrg-vwXewQTg" target="_UD2GoPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_VAWyNPFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VAWyNfFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VAXZQPFzEeSrg-vwXewQTg" x="-1" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VAWyMfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VAWyM_FzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VAWyMvFzEeSrg-vwXewQTg" points="[4, 8, 0, -61]$[4, 66, 0, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VAYAUPFzEeSrg-vwXewQTg" id="(0.3333333333333333,0.2)"/>
    </edges>
    <edges xmi:id="_WqCFwPFzEeSrg-vwXewQTg" type="Transition" element="_WqBesPFzEeSrg-vwXewQTg" source="_UD2GoPFzEeSrg-vwXewQTg" target="_MtuNoPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WqCs0PFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WqCs0fFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WqCs0vFzEeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WqCFwfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WqCFw_FzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WqCFwvFzEeSrg-vwXewQTg" points="[-1, 0, 228, -6]$[-165, 15, 64, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WqD68PFzEeSrg-vwXewQTg" id="(0.06666666666666667,0.4)"/>
    </edges>
    <edges xmi:id="_gY9pMPFzEeSrg-vwXewQTg" type="Transition" element="_gY9CIPFzEeSrg-vwXewQTg" source="_MtuNoPFzEeSrg-vwXewQTg" target="_UD2GoPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_gY9pNPFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gY9pNfFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gY9pNvFzEeSrg-vwXewQTg" x="-54" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gY9pMfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gY9pM_FzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gY9pMvFzEeSrg-vwXewQTg" points="[5, 0, -171, 12]$[74, 0, -102, 12]$[169, -11, -7, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gY-3UPFzEeSrg-vwXewQTg" id="(0.9621212121212122,0.6923076923076923)"/>
    </edges>
    <edges xmi:id="_5f5RYPFzEeSrg-vwXewQTg" type="Transition" element="_5f4qUPFzEeSrg-vwXewQTg" source="_UD2GoPFzEeSrg-vwXewQTg" target="_24ACEPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5f54cfFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5f54cvFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5f54c_FzEeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5f5RYfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5f54cPFzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5f5RYvFzEeSrg-vwXewQTg" points="[1, 8, 0, -56]$[1, 61, 0, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5f6fgPFzEeSrg-vwXewQTg" id="(0.5333333333333333,0.2)"/>
    </edges>
    <edges xmi:id="_6XYTAPFzEeSrg-vwXewQTg" type="Transition" element="_6XXE4PFzEeSrg-vwXewQTg" source="_24ACEPFzEeSrg-vwXewQTg" target="_4RlEIPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_6XY6EfFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6XY6EvFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6XY6E_FzEeSrg-vwXewQTg" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6XYTAfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6XY6EPFzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6XYTAvFzEeSrg-vwXewQTg" points="[3, 8, 3, -70]$[3, 71, 3, -7]"/>
    </edges>
    <edges xmi:id="_8SU8wPFzEeSrg-vwXewQTg" type="Transition" element="_8SUVsPFzEeSrg-vwXewQTg" source="_vzgZsPF1EeSrg-vwXewQTg" target="_xs9n8PFwEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8SVj0fFzEeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8SVj0vFzEeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8SVj0_FzEeSrg-vwXewQTg" x="-351" y="-104"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8SU8wfFzEeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8SVj0PFzEeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8SU8wvFzEeSrg-vwXewQTg" points="[8, 0, 162, 482]$[185, 0, 339, 482]$[185, -545, 339, -63]$[-162, -545, -8, -63]$[-162, -522, -8, -40]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8SWK4PFzEeSrg-vwXewQTg" id="(0.7161290322580646,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_TCrIEPF0EeSrg-vwXewQTg" type="Transition" element="_TCqhAPF0EeSrg-vwXewQTg" source="_24ACEPFzEeSrg-vwXewQTg" target="_jMikEPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_TCrvIfF0EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TCrvIvF0EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TCrvI_F0EeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TCrIEfF0EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TCrvIPF0EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TCrIEvF0EeSrg-vwXewQTg" points="[-1, -1, 178, 2]$[-174, -24, 5, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TCs9QPF0EeSrg-vwXewQTg" id="(0.06666666666666667,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TCs9QfF0EeSrg-vwXewQTg" id="(0.8613138686131386,0.35384615384615387)"/>
    </edges>
    <edges xmi:id="_WCXMUPF0EeSrg-vwXewQTg" type="Transition" element="_WCWlQPF0EeSrg-vwXewQTg" source="_jMikEPFzEeSrg-vwXewQTg" target="_24ACEPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WCXMVPF0EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WCXMVfF0EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WCXMVvF0EeSrg-vwXewQTg" x="-57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WCXMUfF0EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WCXMU_F0EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WCXMUvF0EeSrg-vwXewQTg" points="[15, 6, -161, 19]$[79, 6, -97, 19]$[174, -13, -2, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WCYacPF0EeSrg-vwXewQTg" id="(0.8905109489051095,0.6615384615384615)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WCYacfF0EeSrg-vwXewQTg" id="(0.13333333333333333,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_X_r0oPF0EeSrg-vwXewQTg" type="Transition" element="_X_rNkPF0EeSrg-vwXewQTg" source="_4RlEIPFzEeSrg-vwXewQTg" target="_vnIcgPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_X_r0pPF0EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X_r0pfF0EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X_r0pvF0EeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X_r0ofF0EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X_r0o_F0EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X_r0ovF0EeSrg-vwXewQTg" points="[-1, -7, 184, 2]$[-180, -30, 5, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X_tCwPF0EeSrg-vwXewQTg" id="(0.06666666666666667,0.5333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X_tCwfF0EeSrg-vwXewQTg" id="(0.816793893129771,0.35384615384615387)"/>
    </edges>
    <edges xmi:id="_Z7D8MPF0EeSrg-vwXewQTg" type="Transition" element="_Z7DVIPF0EeSrg-vwXewQTg" source="_vnIcgPFzEeSrg-vwXewQTg" target="_4RlEIPFzEeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Z7EjQPF0EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Z7EjQfF0EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Z7EjQvF0EeSrg-vwXewQTg" x="-55" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Z7D8MfF0EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Z7D8M_F0EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Z7D8MvF0EeSrg-vwXewQTg" points="[13, 8, -167, 23]$[78, 8, -102, 23]$[173, -13, -7, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z7FKUPF0EeSrg-vwXewQTg" id="(0.9007633587786259,0.7384615384615385)"/>
    </edges>
    <edges xmi:id="_xyo_4fF1EeSrg-vwXewQTg" type="Transition" element="_xyo_4PF1EeSrg-vwXewQTg" source="_4RlEIPFzEeSrg-vwXewQTg" target="_vzgZsPF1EeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xypm8PF1EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xypm8fF1EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xypm8vF1EeSrg-vwXewQTg" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xyo_4vF1EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xyo_5PF1EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xyo_4_F1EeSrg-vwXewQTg" points="[8, 8, -23, -23]$[31, 24, 0, -7]"/>
    </edges>
    <edges xmi:id="_5FdGMPF1EeSrg-vwXewQTg" type="Transition" element="_5FcfIPF1EeSrg-vwXewQTg" source="_vzgZsPF1EeSrg-vwXewQTg" target="_sKaMEPF1EeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5FdGNPF1EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5FdGNfF1EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5FdGNvF1EeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5FdGMfF1EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5FdGM_F1EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5FdGMvF1EeSrg-vwXewQTg" points="[-7, 2, 112, 3]$[-114, 19, 5, 20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5FdtQPF1EeSrg-vwXewQTg" id="(0.9470899470899471,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="__7710fF1EeSrg-vwXewQTg" type="Transition" element="__7710PF1EeSrg-vwXewQTg" source="_sKaMEPF1EeSrg-vwXewQTg" target="_-go8gPF1EeSrg-vwXewQTg">
      <children xsi:type="notation:DecorationNode" xmi:id="__78c4fF1EeSrg-vwXewQTg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__78c4vF1EeSrg-vwXewQTg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__78c4_F1EeSrg-vwXewQTg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__7710vF1EeSrg-vwXewQTg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__78c4PF1EeSrg-vwXewQTg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__7710_F1EeSrg-vwXewQTg" points="[-3, 5, 49, -2]$[-52, -1, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__79D8PF1EeSrg-vwXewQTg" id="(0.021164021164021163,0.33962264150943394)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
