<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Pi4q0D6wEemNUvuJKbdNiA" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event start&#xA;in event stop&#xA;in event split&#xA;in event reset&#xA;in event test&#xA;var elapsed_time: real = 0&#xA;operation refresh(time : real) : void" name="stopwatch">
    <regions xmi:id="_PjHUUD6wEemNUvuJKbdNiA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_PjaPQD6wEemNUvuJKbdNiA">
        <outgoingTransitions xmi:id="_zf1aUD6wEemNUvuJKbdNiA" target="_otwX0D6wEemNUvuJKbdNiA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_otwX0D6wEemNUvuJKbdNiA" name="active" incomingTransitions="_zf1aUD6wEemNUvuJKbdNiA">
        <regions xmi:id="_otw-4D6wEemNUvuJKbdNiA" name="timer">
          <vertices xsi:type="sgraph:Entry" xmi:id="_sFvAQD6wEemNUvuJKbdNiA">
            <outgoingTransitions xmi:id="_0muJ4D6wEemNUvuJKbdNiA" specification="" target="_ttkgwD6wEemNUvuJKbdNiA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ttkgwD6wEemNUvuJKbdNiA" name="stopped" incomingTransitions="_0muJ4D6wEemNUvuJKbdNiA _3lmV0D6wEemNUvuJKbdNiA _6vsc0D68EemNUvuJKbdNiA">
            <outgoingTransitions xmi:id="_1dO7ID6wEemNUvuJKbdNiA" specification="start" target="_u7PNwD6wEemNUvuJKbdNiA"/>
            <outgoingTransitions xmi:id="_6vsc0D68EemNUvuJKbdNiA" specification="reset / elapsed_time = 0" target="_ttkgwD6wEemNUvuJKbdNiA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_u7PNwD6wEemNUvuJKbdNiA" name="running" incomingTransitions="_1dO7ID6wEemNUvuJKbdNiA _7zPyUEoyEemHAZt14nAd5Q">
            <outgoingTransitions xmi:id="_3lmV0D6wEemNUvuJKbdNiA" specification="stop" target="_ttkgwD6wEemNUvuJKbdNiA"/>
            <outgoingTransitions xmi:id="_7zPyUEoyEemHAZt14nAd5Q" specification="after 1s / elapsed_time += 1" target="_u7PNwD6wEemNUvuJKbdNiA"/>
          </vertices>
        </regions>
        <regions xmi:id="_otw-4T6wEemNUvuJKbdNiA" name="display">
          <vertices xsi:type="sgraph:Entry" xmi:id="_syD6wD6wEemNUvuJKbdNiA">
            <outgoingTransitions xmi:id="_q8fDwD6xEemNUvuJKbdNiA" specification="" target="_v-pykD6wEemNUvuJKbdNiA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_v-pykD6wEemNUvuJKbdNiA" name="actual time" incomingTransitions="_q8fDwD6xEemNUvuJKbdNiA _vUQVQD6xEemNUvuJKbdNiA _CCYBQD6yEemNUvuJKbdNiA">
            <outgoingTransitions xmi:id="_t7Fi4D6xEemNUvuJKbdNiA" specification="split" target="_xg1-ED6wEemNUvuJKbdNiA"/>
            <outgoingTransitions xmi:id="_CCYBQD6yEemNUvuJKbdNiA" specification="after 100ms / refresh(elapsed_time)" target="_v-pykD6wEemNUvuJKbdNiA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_xg1-ED6wEemNUvuJKbdNiA" name="lap time" incomingTransitions="_t7Fi4D6xEemNUvuJKbdNiA">
            <outgoingTransitions xmi:id="_vUQVQD6xEemNUvuJKbdNiA" specification="split" target="_v-pykD6wEemNUvuJKbdNiA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_PjGtQD6wEemNUvuJKbdNiA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Pi4q0D6wEemNUvuJKbdNiA" measurementUnit="Pixel">
    <children xmi:id="_PjMM0D6wEemNUvuJKbdNiA" type="Region" element="_PjHUUD6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_PjXzAD6wEemNUvuJKbdNiA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PjXzAT6wEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PjXzAj6wEemNUvuJKbdNiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_PjZBID6wEemNUvuJKbdNiA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_PjaPQT6wEemNUvuJKbdNiA" type="Entry" element="_PjaPQD6wEemNUvuJKbdNiA">
          <children xmi:id="_Pja2UD6wEemNUvuJKbdNiA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Pja2Uz6wEemNUvuJKbdNiA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Pja2VD6wEemNUvuJKbdNiA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Pja2VT6wEemNUvuJKbdNiA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Pja2UT6wEemNUvuJKbdNiA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pja2Uj6wEemNUvuJKbdNiA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PjaPQj6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_PjaPQz6wEemNUvuJKbdNiA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pja2Vj6wEemNUvuJKbdNiA" x="70" y="20"/>
        </children>
        <children xmi:id="_otxl8D6wEemNUvuJKbdNiA" type="State" element="_otwX0D6wEemNUvuJKbdNiA">
          <children xsi:type="notation:DecorationNode" xmi:id="_otxl9D6wEemNUvuJKbdNiA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_otxl9T6wEemNUvuJKbdNiA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_otyNAD6wEemNUvuJKbdNiA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_otyNAT6wEemNUvuJKbdNiA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_otyNAj6wEemNUvuJKbdNiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_otyNAz6wEemNUvuJKbdNiA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_otyNBD6wEemNUvuJKbdNiA" type="StateFigureCompartment">
            <children xmi:id="_ot0pQD6wEemNUvuJKbdNiA" type="Region" element="_otw-4D6wEemNUvuJKbdNiA">
              <children xsi:type="notation:DecorationNode" xmi:id="_ot0pQz6wEemNUvuJKbdNiA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ot0pRD6wEemNUvuJKbdNiA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ot0pRT6wEemNUvuJKbdNiA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ot0pRj6wEemNUvuJKbdNiA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_sFvnUD6wEemNUvuJKbdNiA" type="Entry" element="_sFvAQD6wEemNUvuJKbdNiA">
                  <children xmi:id="_sFwOYD6wEemNUvuJKbdNiA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_sFwOYz6wEemNUvuJKbdNiA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_sFwOZD6wEemNUvuJKbdNiA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_sFwOZT6wEemNUvuJKbdNiA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_sFwOYT6wEemNUvuJKbdNiA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sFwOYj6wEemNUvuJKbdNiA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_sFvnUT6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_sFvnUj6wEemNUvuJKbdNiA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sFvnUz6wEemNUvuJKbdNiA" x="13" y="38"/>
                </children>
                <children xmi:id="_ttlu4D6wEemNUvuJKbdNiA" type="State" element="_ttkgwD6wEemNUvuJKbdNiA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_ttlu5D6wEemNUvuJKbdNiA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ttlu5T6wEemNUvuJKbdNiA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_ttmV8D6wEemNUvuJKbdNiA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ttmV8T6wEemNUvuJKbdNiA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_ttmV8j6wEemNUvuJKbdNiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ttmV8z6wEemNUvuJKbdNiA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ttmV9D6wEemNUvuJKbdNiA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ttlu4T6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_ttlu4j6wEemNUvuJKbdNiA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ttmV9T6wEemNUvuJKbdNiA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ttlu4z6wEemNUvuJKbdNiA" x="67" y="41"/>
                </children>
                <children xmi:id="_u7P00D6wEemNUvuJKbdNiA" type="State" element="_u7PNwD6wEemNUvuJKbdNiA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_u7Qb4D6wEemNUvuJKbdNiA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_u7Qb4T6wEemNUvuJKbdNiA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_u7Qb4j6wEemNUvuJKbdNiA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_u7Qb4z6wEemNUvuJKbdNiA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_u7Qb5D6wEemNUvuJKbdNiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u7Qb5T6wEemNUvuJKbdNiA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_u7RC8D6wEemNUvuJKbdNiA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_u7P00T6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_u7P00j6wEemNUvuJKbdNiA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_u7RC8T6wEemNUvuJKbdNiA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u7P00z6wEemNUvuJKbdNiA" x="216" y="55"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ot0pRz6wEemNUvuJKbdNiA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ot0pQT6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ot0pQj6wEemNUvuJKbdNiA"/>
            </children>
            <children xmi:id="_ot1QUD6wEemNUvuJKbdNiA" type="Region" element="_otw-4T6wEemNUvuJKbdNiA">
              <children xsi:type="notation:DecorationNode" xmi:id="_ot1QUz6wEemNUvuJKbdNiA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ot1QVD6wEemNUvuJKbdNiA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ot1QVT6wEemNUvuJKbdNiA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ot13YD6wEemNUvuJKbdNiA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_syEh0D6wEemNUvuJKbdNiA" type="Entry" element="_syD6wD6wEemNUvuJKbdNiA">
                  <children xmi:id="_syFI4j6wEemNUvuJKbdNiA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_syFI5T6wEemNUvuJKbdNiA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_syFI5j6wEemNUvuJKbdNiA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_syFI5z6wEemNUvuJKbdNiA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_syFI4z6wEemNUvuJKbdNiA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_syFI5D6wEemNUvuJKbdNiA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_syEh0T6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_syFI4D6wEemNUvuJKbdNiA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_syFI4T6wEemNUvuJKbdNiA" x="9" y="41"/>
                </children>
                <children xmi:id="_v-qZoD6wEemNUvuJKbdNiA" type="State" element="_v-pykD6wEemNUvuJKbdNiA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_v-rAsD6wEemNUvuJKbdNiA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_v-rAsT6wEemNUvuJKbdNiA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_v-rAsj6wEemNUvuJKbdNiA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_v-rAsz6wEemNUvuJKbdNiA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_v-rAtD6wEemNUvuJKbdNiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v-rAtT6wEemNUvuJKbdNiA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_v-rAtj6wEemNUvuJKbdNiA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_v-qZoT6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_v-qZoj6wEemNUvuJKbdNiA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_v-rAtz6wEemNUvuJKbdNiA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_v-qZoz6wEemNUvuJKbdNiA" x="59" y="42"/>
                </children>
                <children xmi:id="_xg2lID6wEemNUvuJKbdNiA" type="State" element="_xg1-ED6wEemNUvuJKbdNiA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xg3MMD6wEemNUvuJKbdNiA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xg3MMT6wEemNUvuJKbdNiA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xg3MMj6wEemNUvuJKbdNiA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xg3MMz6wEemNUvuJKbdNiA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xg3MND6wEemNUvuJKbdNiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xg3MNT6wEemNUvuJKbdNiA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xg3MNj6wEemNUvuJKbdNiA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xg2lIT6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xg2lIj6wEemNUvuJKbdNiA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xg3zQD6wEemNUvuJKbdNiA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xg2lIz6wEemNUvuJKbdNiA" x="97" y="137"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ot13YT6wEemNUvuJKbdNiA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ot1QUT6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ot1QUj6wEemNUvuJKbdNiA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_otxl8T6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_otxl8j6wEemNUvuJKbdNiA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_otyNBT6wEemNUvuJKbdNiA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_otxl8z6wEemNUvuJKbdNiA" x="96" y="106" width="554" height="276"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PjZBIT6wEemNUvuJKbdNiA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_PjMM0T6wEemNUvuJKbdNiA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PjZoMD6wEemNUvuJKbdNiA" x="80" y="20" width="936" height="441"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_PjjZMD6wEemNUvuJKbdNiA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_PjjZMj6wEemNUvuJKbdNiA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PjjZMz6wEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PjjZND6wEemNUvuJKbdNiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_PjjZNT6wEemNUvuJKbdNiA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PjjZNj6wEemNUvuJKbdNiA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PjkAQD6wEemNUvuJKbdNiA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PjGtQT6wEemNUvuJKbdNiA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_PjGtQj6wEemNUvuJKbdNiA"/>
    <edges xmi:id="_zf2ocD6wEemNUvuJKbdNiA" type="Transition" element="_zf1aUD6wEemNUvuJKbdNiA" source="_PjaPQT6wEemNUvuJKbdNiA" target="_otxl8D6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_zf2odD6wEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zf2odT6wEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zf2odj6wEemNUvuJKbdNiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zf2ocT6wEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zf2ocz6wEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zf2ocj6wEemNUvuJKbdNiA" points="[4, 5, -72, -83]$[77, 79, 1, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zf4doD6wEemNUvuJKbdNiA" id="(0.10469314079422383,0.03617965867158671)"/>
    </edges>
    <edges xmi:id="_0muw8D6wEemNUvuJKbdNiA" type="Transition" element="_0muJ4D6wEemNUvuJKbdNiA" source="_sFvnUD6wEemNUvuJKbdNiA" target="_ttlu4D6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_0muw9D6wEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0muw9T6wEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0muw9j6wEemNUvuJKbdNiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0muw8T6wEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0muw8z6wEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0muw8j6wEemNUvuJKbdNiA" points="[6, 2, -48, -13]$[55, -4, 1, -19]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0mwmID6wEemNUvuJKbdNiA" id="(0.11594202898550725,0.39622641509433965)"/>
    </edges>
    <edges xmi:id="_1dPiMD6wEemNUvuJKbdNiA" type="Transition" element="_1dO7ID6wEemNUvuJKbdNiA" source="_ttlu4D6wEemNUvuJKbdNiA" target="_u7P00D6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_1dPiND6wEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1dPiNT6wEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1dPiNj6wEemNUvuJKbdNiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1dPiMT6wEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1dPiMz6wEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1dPiMj6wEemNUvuJKbdNiA" points="[32, -1, -92, -9]$[117, -1, -7, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1dQwUD6wEemNUvuJKbdNiA" id="(0.12903225806451613,0.37735849056603776)"/>
    </edges>
    <edges xmi:id="_3lnj8D6wEemNUvuJKbdNiA" type="Transition" element="_3lmV0D6wEemNUvuJKbdNiA" source="_u7P00D6wEemNUvuJKbdNiA" target="_ttlu4D6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3lnj9D6wEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3lnj9T6wEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3lnj9j6wEemNUvuJKbdNiA" x="3" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3lnj8T6wEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3lnj8z6wEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3lnj8j6wEemNUvuJKbdNiA" points="[-28, 2, 129, -5]$[-155, 10, 2, 3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3loyED6wEemNUvuJKbdNiA" id="(0.3188405797101449,0.9433962264150944)"/>
    </edges>
    <edges xmi:id="_q8gR4D6xEemNUvuJKbdNiA" type="Transition" element="_q8fDwD6xEemNUvuJKbdNiA" source="_syEh0D6wEemNUvuJKbdNiA" target="_v-qZoD6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_q8gR5D6xEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q8gR5T6xEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q8gR5j6xEemNUvuJKbdNiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q8gR4T6xEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q8gR4z6xEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q8gR4j6xEemNUvuJKbdNiA" points="[10, 2, -52, -9]$[64, -7, 2, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q8iHED6xEemNUvuJKbdNiA" id="(0.2,0.5333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q8iHET6xEemNUvuJKbdNiA" id="(0.20481927710843373,0.37735849056603776)"/>
    </edges>
    <edges xmi:id="_t7GxAD6xEemNUvuJKbdNiA" type="Transition" element="_t7Fi4D6xEemNUvuJKbdNiA" source="_v-qZoD6wEemNUvuJKbdNiA" target="_xg2lID6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_t7GxBD6xEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_t7GxBT6xEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_t7GxBj6xEemNUvuJKbdNiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_t7GxAT6xEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_t7GxAz6xEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_t7GxAj6xEemNUvuJKbdNiA" points="[3, 24, 1, -61]$[3, 71, 1, -14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_t7ImMD6xEemNUvuJKbdNiA" id="(0.06060606060606061,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_vUQ8UD6xEemNUvuJKbdNiA" type="Transition" element="_vUQVQD6xEemNUvuJKbdNiA" source="_xg2lID6wEemNUvuJKbdNiA" target="_v-qZoD6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vURjYD6xEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vURjYT6xEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vURjYj6xEemNUvuJKbdNiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vUQ8UT6xEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vUQ8Uz6xEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vUQ8Uj6xEemNUvuJKbdNiA" points="[7, -24, 5, 79]$[7, -119, 5, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vUSxgD6xEemNUvuJKbdNiA" id="(0.9036144578313253,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_CCZ2cD6yEemNUvuJKbdNiA" type="Transition" element="_CCYBQD6yEemNUvuJKbdNiA" source="_v-qZoD6wEemNUvuJKbdNiA" target="_v-qZoD6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_CCZ2dD6yEemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CCZ2dT6yEemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CCZ2dj6yEemNUvuJKbdNiA" x="-21" y="128"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CCZ2cT6yEemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CCZ2cz6yEemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CCZ2cj6yEemNUvuJKbdNiA" points="[36, 32, 13, 33]$[120, 32, 97, 33]$[120, -33, 97, -32]$[15, -33, -8, -32]$[15, -5, -8, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CCcSsD6yEemNUvuJKbdNiA" id="(0.5421686746987951,0.11320754716981132)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CCcSsT6yEemNUvuJKbdNiA" id="(0.8433734939759037,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_6vtD4D68EemNUvuJKbdNiA" type="Transition" element="_6vsc0D68EemNUvuJKbdNiA" source="_ttlu4D6wEemNUvuJKbdNiA" target="_ttlu4D6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6vtD5D68EemNUvuJKbdNiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6vtD5T68EemNUvuJKbdNiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6vtq8D68EemNUvuJKbdNiA" x="24" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6vtD4T68EemNUvuJKbdNiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6vtD4z68EemNUvuJKbdNiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6vtD4j68EemNUvuJKbdNiA" points="[-9, 10, -9, 10]$[-40, 10, -40, 10]$[-40, 86, -40, 86]$[43, 86, 43, 86]$[43, 19, 43, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6vu5ED68EemNUvuJKbdNiA" id="(0.14492753623188406,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6vu5ET68EemNUvuJKbdNiA" id="(0.14492753623188406,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_7zS1oEoyEemHAZt14nAd5Q" type="Transition" element="_7zPyUEoyEemHAZt14nAd5Q" source="_u7P00D6wEemNUvuJKbdNiA" target="_u7P00D6wEemNUvuJKbdNiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7zTcsEoyEemHAZt14nAd5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7zTcsUoyEemHAZt14nAd5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7zUDwEoyEemHAZt14nAd5Q" x="-36" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7zS1oUoyEemHAZt14nAd5Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7zS1o0oyEemHAZt14nAd5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7zS1okoyEemHAZt14nAd5Q" points="[-13, 24, -13, 24]$[-13, -74, -13, -74]$[19, -74, 19, -74]$[19, -24, 19, -24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
